<a href="https://colab.research.google.com/github/252852/NLP_PictureBook_2025/blob/main/4_2_forstatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üÖ∞Ô∏è **FOR statement** üîÑ Loop  
"for statement" enable you to extract each one of elements (i.e., from 1st element to the last from an objectÍ∞ùÏ≤¥ or a certain range of dataÌäπÏ†ï Î≤îÏúÑÏùò ÏûêÎ£å).

- #### <font color='red'> Example</font> from ÌååÏù¥Ïç¨ 200Ï†ú

        for Íµ¨ÏÑ±ÏöîÏÜå in Î≤îÏúÑ:  #list, tuple, dictionary, range
            Î∞òÎ≥µÏúºÎ°ú Ïã§ÌñâÌï† ÏΩîÎìú #e.g., ÏàòÌñâÌï† Î¨∏Ïû•
        
          or/and  

        for ÏïÑÎûò ÏΩîÎìúÎùºÏù∏ Î≥ÄÏàò in Î≤îÏúÑ:
            Î∞òÎ≥µÏúºÎ°ú Ïã§ÌñâÌï† ÏΩîÎìú  #e.g., ÏàòÌñâÌï† Î¨∏Ïû•

In [ ]:
[ ] numbers = (1,2,3,4,5,6,7,8,9) # numbers is assigned a tuple containing the numbers form 1 to 9, enclosed in parentheses.

In [ ]:
numbers = (1,2,3,4,5,6,7,8,9) # numbers is assigned a tuple containing the numbers from 1 to 9, enclosed in parentheses.

for i in numbers: # 'i' represents for integers. # The for loop iterates through each element (i) in the numbers tuple.
  print(i) # Inside the loop, the print(i) statement prints each individual integer from the numbers tuple on separate lines.

1
2
3
4
5
6
7
8
9

In [ ]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for x in scope: # Any alphabet of your choice can be anything after "for" work.
  print(x)

1
2
3
4
5

In [ ]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for y in scope: # An alphabet can be anything you like after 'for'.
  print(y)

1
2
3
4
5

##<font color = 'red'> üí°üêπüêæ List of Keywords
- Keywords are the reserved words in Python. You cannot use a keyword as a variable name, function name or any other identifier.
- **[List of keywords](https://www.programiz.com/python-programming/keyword-list)**

In [ ]:
#@markdown <font color='red'>**üí°üêπüêæ Be cautious about using words used the list of keywords**

import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#@markdown <font color='red'>**üíÄ Wrong Example**

class = ['Sam', 'Emily', 'Todd']

for i in class:
  print(i)

SyntaxError: ignored

In [ ]:
#@markdown <font color='brown'>**üíä Fix this!**
name = ['Sam', 'Emily', 'Todd']
for i in name:
  print(i)

In [ ]:
#@markdown <font color='brown'>**üíä Fix this!**

name = ['Sam', 'Emily', 'Todd']

for i in name:
  print(i)

Sam
Emily
Todd

##üëÄ Before you run the following code lines for a FOR Statement, you need to know the following.

üíä ObjectsÍ∞ùÏ≤¥ used in FOR statements are i) string, ii) list or tuple, iii) dictionary, iv) range(). They are characterized by repeatable objects.  

    The results depend on the number in (range Î≤îÏúÑ).
    e.g., range(0) ‚û°Ô∏è  NONE, range(1) ‚û°Ô∏è 0, range(2) ‚û°Ô∏è 0,1, etc.

In [ ]:
for i in range(1):
   print (i)

  type(i)

In [ ]:
for i in range(1):
  print (i)

type(i)

0

int

In [ ]:
for x in range(3):
  print(x)

type(x)

0
1
2

int

In [ ]:
for x in range(3):
  print(x)

type(x)

0
1
2

int

In [ ]:
for y in range(10):
  print(y)

type(y)

0
1
2
3
4
5
6
7
8
9

int

In [ ]:
for z in range(0):
  print9(z)

  #type(y) #NameError: name 'y' is not defined

In [ ]:
for z in range(0):
  print(z)

#type(y) #NameError: name 'y' is not defined

In [ ]:
list_fruit=["apple", "banana", "grape", "strawberry", "pear", "mango"]

for i in list_fruit:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [ ]:
list_fruit=["ÎåÄÏ†Ñ","ÏÑúÏö∏", "Í¥ëÏ£º","Î™©Ìè¨"]

for i in list_fruit:
  print(i)

ÎåÄÏ†Ñ
ÏÑúÏö∏
Í¥ëÏ£º
Î™©Ìè¨

In [ ]:
list_fruit = ["apple", "banana", "grape", "strawberry", "pear", "mango"]

for i in list_fruit:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [ ]:
string='abcde'

for c in string:
  print(c)

a
b
c
d
e

In [ ]:
string ='abcde'

for c in string:
  print(c)

a
b
c
d
e

In [ ]:
list_int=[1,2,3,4,5,]

for c in list_int:
  print(c)

1
2
3
4
5

In [ ]:
list_int = [1,2,3,4,5]

for c in list_int:
  print(c)

1
2
3
4
5
1
[0]

In [ ]:
#@markdown üíä**Compare!**
print(list_int[0])
print([0])

1
[0]

In [ ]:
#@markdown üíä **Compare!**
print(list_int[0])
print([0])

1
[0]

In [ ]:
dict1={'a':97, 'b':98, 'c':99}

for i in dict1:
  print(i)

a
b
c

In [ ]:
dict1 = {'a':97, 'b':98, 'c':99}

for i in dict1:
  print(i)

a
b
c

In [ ]:
dict2={'a':100, 'b':200, 'c':300}

for i in dict2:
  print(i)

a
b
c

In [ ]:
dict2 = {'a':100, 'b':200, 'c':300}

for i in dict2:
  print(i)

a
b
c

In [ ]:
print(dict2['a'])
print(['a'])

100
['a']

In [ ]:
#@markdown üíä **Compare between print(dictionary['a']) & print(['a']) to print a value, not a key.**

print(dict2['a'])
print(['a'])

100
['a']

In [ ]:
#@markdown üí£ <font color = 'red'>**Indeces are not compatible with dictionary-type data**

print(dict2[0])

KeyError: ignored

In [ ]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

# üÖ±Ô∏è  FOR ~: IF ~: CONTINUE... ELSE: BREAK

    for Íµ¨ÏÑ±ÏöîÏÜå ÌòπÏùÄ ÏïÑÎûò ÏΩîÎìúÎùºÏù∏ Î≥ÄÏàò in Î≤îÏúÑ:
      ...
      continue    # Îã§Ïùå Î∞òÎ≥µÎ¨∏ ÏàòÌñâ
      ...
      break       # for Î∞òÎ≥µÎ¨∏ ÌÉàÏ∂ú

In [ ]:
scope=[1,2,3,4,5]

for i in scope:
  print(i)
  if i<5:
    continue
  else:
      break

1
2
3
4
5

In [ ]:
scope=[1,2,3,4,5]

for i in scope:
  print(i)        #ÌôîÎ©¥Ïóê Ìï¥Îãπ Ï†ïÏàòÎ•º Ï∂úÎ†•Ìïú ÌõÑ Í∑∏ ÏàòÍ∞Ä 3 Î≥¥Îã§ ÏûëÏúºÎ©¥ Í∑∏ Îã§Ïùå Ïà´ÏûêÎ•º Ï∂úÎ†•ÌïòÍ≥†, 3 Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÏúºÎ©¥ Ï¢ÖÎ£å
  if i<3:
    continue      # Ïù¥ Í≤ΩÏö∞ continue ÏóÜÏù¥ÎèÑ ÏΩîÎìúÎùºÏù∏ ÏûëÏÑ± Í∞ÄÎä•
  else:
    break

1
2
3

#üÖæÔ∏è FOR ~: ELSE ~:

    for Î≥ÄÏàò in Î≤îÏúÑ:
      Î∞òÎ≥µ Ïã§Ìñâ ÏΩîÎìú
    else:       
      for Íµ¨Î¨∏Ïù¥ Î™®Îëê Ïã§ÌñâÎêòÏóàÏùÑ Îïå Ïã§ÌñâÌï† ÏΩîÎìú

In [ ]:
scope=[1,2,3,4,5]

for x in scope:
  print(x)
else:
    print('Perfect')

1
2
3
4
5
Perfect

In [ ]:
scope = [1,2,3,4,5]

for x in scope:
  print(x)
else:                 #Î∞òÎ≥µÎ¨∏Ïù¥ breakÏóê ÏùòÌï¥ Ï§ëÎã®Îê® ÏóÜÏù¥ Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Î™®Îëê Ïã§ÌñâÎêòÏñ¥ÏïºÎßå ÌäπÏ†ï ÏΩîÎìú Ïã§ÌñâÌï† Í≤ΩÏö∞ FOR ~ ELSE ÏÇ¨Ïö©
  print('Perfect')

                      #ÌååÏù¥Ïç¨200Ï†úÏóêÎäî print (x) Îã§ÏùåÏóê break ÏΩîÎìúÎùºÏù∏Ïù¥ ÏûàÎäîÎç∞, Ïù¥Í≤ÉÏùÄ ÏõêÏÜåÍ∞Ä Î≤îÏúÑÏóê ÏûàÏùÑ Îïå Í≤∞Í≥ºÎ•º Î≥¥Ïó¨Ï£ºÎäîÍ≤å 1 Í∞ú Î∞ñÏóê ÏïàÎêúÎã§. Ïã§ÏàòÎ°ú ÎÑ£ÏùÄ ÏΩîÎìúÎùºÏù∏ÏúºÎ°ú Î≥¥Ïù∏Îã§. Ïù¥ ÏòàÏ†úÎäî ÏïÑÎûòÏóê Îî∞Î°ú ÏΩîÎìúÎùºÏù∏ÏùÑ ÏûëÏÑ±ÌñàÎã§.

1
2
3
4
5
Perfect

## üíä **Compare! (Do not use in class. Just let students know about it.**

In [ ]:
#@markdown üíÄ IT seems an imperfect example from ÌååÏù¥Ïç¨200Ï†ú.
list = [1,2,3]
for i in list:
  print(i)
  break ##ÌååÏù¥Ïç¨200Ï†úÏóêÎäî print (x) Îã§ÏùåÏóê break ÏΩîÎìúÎùºÏù∏Ïù¥ ÏûàÎäîÎç∞, Ïù¥Í≤ÉÏùÄ ÏöîÏÜåÍ∞Ä Î≤îÏúÑÏóê ÏûàÏùÑ Îïå Í≤∞Í≥ºÎ•º Î≥¥Ïó¨Ï£ºÎäîÍ≤å 1 Í∞ú Î∞ñÏóê ÏïàÎêúÎã§. Ïã§ÏàòÎ°ú ÎÑ£ÏùÄ ÏΩîÎìúÎùºÏù∏ÏúºÎ°ú Î≥¥Ïù∏Îã§.
else:
  print('Perfect')

1